<div class="container">
    <div class="row py-2">
      <div class="col-sm">
        <button type="button" class="btn btn-secondary" style="width: 100%"(click)="showLocateUnitMap()">Monitor all units</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-secondary" style="width: 100%" (click)="showTestMap()">Locate a unit</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-secondary" style="width: 100%" (click)="showOptimizationMap()">Route optimization</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10 center">
        <div id="map_div" style="width: 100%; height: 100%;"></div>
      </div>
      <div class="col-2">
        <div id="table_div"></div>
        <br/>
        <div id="chart_div"></div>
      </div>
    </div>
  </div>