<div class="container">
  <div class="row py-2">
    <div class="col-sm">
      <button type="button" class="btn btn-secondary" style="width: 100%"(click)="showLocateUnitMap()">Monitor all units</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-secondary" style="width: 100%" (click)="showOptimizationMap()">Locate a unit</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-secondary" style="width: 100%" (click)="showTestMap()">Route optimization</button>
    </div>
  </div>
  <div class="row" *ngIf="loadedMap === 'one'">
    <div class="col-10 center">
      <div id="map_div" style="width: 100%; height: 75vh;margin-top: 15px;"></div>
    </div>
    <div class="col-2">
      <div id="table_div"></div>
    </div>
  </div>
  <div class="row" *ngIf="loadedMap === 'two'">
    <div class="col-10 center">
      <div id="map_div2" style="width: 100%; height: 75vh;"></div>
    </div>
    <div class="col-2">
      <div id="chart_div"></div>
    </div>
  </div>
  <div class="row" *ngIf="loadedMap === 'three'">
    <div class="col-12 center">
      <div id="map_div3" style="width: 100%; height: 100%;"></div>
    </div>
  </div>
</div>