<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" (click)="onSelect('dashboard')">
          <i class="fa fa-home"></i>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('alerts')">
          <i class="fa fa-exclamation-circle"></i>
          Alerts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('maps')">
          <i class="fa fa-map"></i>
          Map
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('customers')">
          <i class="fa fa-users"></i>
          Customers
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#" (click)="onSelect('reports')">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('current-data')">
          <i class="fa fa-calendar"></i>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('last-quarter')">
          <i class="fa fa-arrow-left"></i>
          Last quarter
        </a>
      </li>
    </ul>
  </div>
</nav>