<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <i class="fa fa-calendar"></i>
        This week
      </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Speeding Violations</h5>
            <h6 class="card-subtitle mb-2 text-muted">Vehicles: Average per day</h6>
            <h2 class="card-text">Total: 4</h2>
            <canvas baseChart
              [data]="speedingViolationsChartData"
              [labels]="speedingViolationsChartLabels"
              [chartType]="doughnutChartType"
              ></canvas>
            <a href="#" class="card-link">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md" style="border:1px solid rgba(0,0,0,.125)">
        <!-- <div class="card" style="width: 18rem;">
          <div class="card-body"> -->
            <h5 class="card-title">Fuel Purchased</h5>
            <h6 class="card-subtitle mb-2 text-muted">By Vehicle in USD</h6>
            <canvas baseChart
              [data]="fuelChartData"
              [labels]="fuelChartLabels"
              [chartType]="fuelChartType"
              ></canvas>
            <!-- <a href="#" class="card-link">Details</a> -->
          <!-- </div>
        </div> -->
      </div>
      <div class="col-md">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Idling time</h5>
              <h6 class="card-subtitle mb-2 text-muted">Total</h6>
              <h2 class="card-text">26%</h2>
              <canvas baseChart
              [data]="idlingTimeChartData"
              [labels]="idlingTimeChartLabels"
              [chartType]="doughnutChartType"
              ></canvas>
              <a href="#" class="card-link">Details</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div style="color: white">.</div>

      </div>
    </div>
    <div class="row">
        <div class="col-md">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Rapid Aceleration Events</h5>
              <h6 class="card-subtitle mb-2 text-muted">Daily Average per asset</h6>
              <h2 class="card-text">0.65 events</h2>
              <a href="#" class="card-link">Details</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Harsh breaking events</h5>
              <h6 class="card-subtitle mb-2 text-muted">Daily Average per asset</h6>
              <h2 class="card-text">0.12 events</h2>
              <a href="#" class="card-link">Details</a>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Distance Traveled Km</h5>
                <h6 class="card-subtitle mb-2 text-muted">Daily Average per asset</h6>
                    <canvas baseChart
              [data]="distanceTimeChartData"
              [labels]="distanceChartLabels"
              [chartType]="barChartType"
              [legend]="false"
              ></canvas>
                <a href="#" class="card-link">Details</a>
              </div>
            </div>
          </div>
      </div>

  </div>
  <!-- <h2>Section title</h2> -->